
# Dependency directories
node_modules/
.pnp/
.pnp.js

# Testing
coverage/

# Production build directories
build/
dev-build/

# Miscellaneous system files
Thumbs.db
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
!.env.example

# IDE/Editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac-specific files
.DS_Store
.AppleDouble
.LSOverride

# Linux-specific files
*~ 
.cache
.directory

# npm
package-lock.json
yarn.lock
*.local

# Logs
*.log
*.trace
*.pid

# Temporary files
tmp/
temp/

**/sendgrid.env
