@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Ensures the body takes at least the full viewport height */
    font-family: Arial, sans-serif; /* Optional: Set a global font */
}

a {
    @apply text-primary-dark2 hover:text-linktree-accent focus:text-linktree-accent active:text-linktree-accent;
    cursor: pointer;
}
