@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Ensures the body takes at least the full viewport height */
  /*background: linear-gradient(180deg, #ffecd2, #fcb69f);*/
  background: linear-gradient(180deg, #d1bfa7, #f6f2e7);
  font-family: Arial, sans-serif; /* Optional: Set a global font */
}
